.head {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
}

.menu {
    text-align: center;
    margin: 75px 0 100px 0;
}

.menu-item {
    display: inline-block;
    margin-right: 120px;
    text-align: center;
    cursor: pointer;
}

.menu-item:hover {
    color: #25b4f5;
}

.menu-item:active {
    color: tomato;
}

.menu-item:last-child {
    margin-right: 0;
}
