*{
    background-color: rgb(197, 196, 196);
}

#list{
    text-transform: uppercase;
}

#list:hover{
    color: red;
}

#list:active{
    color: tomato;
}

.headline4{
    color: green;
    font-size: 21px;
}

.headline4:hover{
    color: red;
}

.headline4:active{
    color: tomato;
}

.headline2{
    color: midnightblue;
    font-size: 28px;
}

.text{
    color: darkblue;
    font-size: 18px;
}

#button{
    text-transform: uppercase;
}

#button:hover{
    color: red;
}

